<IfModule mod_rewrite.c>
	
    RewriteEngine on
	#RewriteCond %{REQUEST_URI} ^/(control)  
	#RewriteRule ^.*$ admin/index.php [L]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . index.php [L]

</IfModule>